<article class='media ayah' id='ayah-<%= ayah.id %>'>
  <div class='media-content'>
    <% unless @surah.nil? %>
      <div class='content'>
        <p><%= link_to "#{ayah}", quran_ayah_path(@surah.permalink, ayah.number) %></p>
      </div>
    <% end %>
    <div class='columns is-variable is-8'>
      <div class='column'>
        <h3 class='is-hidden'>Uthmani</h3>
        <p class='uthmani-text'><%= sanitize ayah.uthmani_text %></p>
        <h3 class='is-hidden'>Transliteration</h3>
        <p class='transliteration-text'><%= sanitize ayah.transliterated_text %></p>
      </div>
      <div class='column'>
        <% ayah.account_texts.each do |text| %>
          <div class='content'>
            <h3 class='is-size-5'><%= text.translation.name %></h3>
            <p><%= sanitize text.content %></p>
          </div>
        <% end %>
      </div>
    </div>
    <% if account_signed_in? %>
      <p>
        <% if bookmarked? ayah, current_account %>
          <%= link_to quran_ayah_bookmark_path(ayah), method: :delete, remote: true, class: 'bookmark active' do %>
            <span><%= fa_icon 'bookmark' %><span>
            <span>Bookmarked</span>
          <% end %>
        <% else %>
          <%= link_to quran_ayah_bookmark_path(ayah), method: :post, remote: true, class: 'bookmark' do %>
            <span><%= fa_icon 'bookmark-o' %><span>
            <span>Bookmark</span>
          <% end %>
        <% end %>
      </p>
    <% end %>
  </div>
</article>