%nav.mobile-navbar{data: {controller: 'navbar'}}
  %audio{controls: true, data: {target: 'navbar.audio'}}
    %source{src: ayah_audio_file(@ayah.surah_id, @ayah.number), type: "audio/mpeg"}
      Your browser does not support the audio tag.

  .navbar-brand
    = link_to quran_surah_path(@ayah.surah), class: 'navbar-item' do
      = fa_icon 'list-ol'

    %a.navbar-item

    = link_to quran_ayah_path(@ayah.previous), class: 'navbar-item' do
      = fa_icon 'chevron-left'

    = link_to quran_ayah_path(@ayah.next), class: 'navbar-item' do
      = fa_icon 'chevron-right'