= render 'breadcrumb'

%section.section
  .container
    = render 'page_header'

    .columns
      %main.column.is-three-fifths
        = render 'audio'
        = render 'current_ayah'
        = render 'previous_ayah'
        = render 'next_ayah'

      %aside.column
        = render 'quran/surahs/information', surah: @ayah.surah
          
= render 'mobile_navbar'
- provide :title, @ayah