.container
  = render 'breadcrumb'

%section.section
  .container
    = render 'pagination'
    = render 'audio'

    .buttons
      - if memorized? @ayah, current_account
        = render 'quran/ayahs/memories/delete_memory'
      - else
        = render 'quran/ayahs/memories/create_memory'
        
    %article#ayah.content
      = render 'previous'
      = render 'current'
      = render 'next'          
    = render 'pagination'

    = render 'quran/surahs/information', surah: @ayah.surah

- provide :title, "#{@ayah.surah_name} #{@ayah.number}"