<div class='columns'>
  <div class='column'>
    <%= render 'breadcrumb' %>
  </div>
  <div class='column is-one-quarter'>
    <nav class='pagination'>
      <%= link_to 'Previous', quran_ayah_path(@ayah.previous.surah, @ayah.previous.number), class: 'pagination-previous' %>
      <%= link_to 'Next Ayah', quran_ayah_path(@ayah.next.surah, @ayah.next.number), class: 'pagination-next' %>
    </nav>
  </div>
</div>

<article>
  <header>
    <h1 class='title'><%= @ayah %></h1>
  </header>

  <div class='content'>
    <div class='columns is-centered'>
      <div class='column is-four-fifths'>
        <%= render 'current_ayah' %>

        <div class='columns'>
          <div class='column'>
            <%= render 'previous_ayah' %>
          </div>
          <div class='column'>
            <%= render 'next_ayah' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>


<% content_for :aside do %>
  <%= render 'audio' %>
<% end %>

<% provide :title, @ayah %>
<% provide :meta_description, @ayah.noble_quran_text %>