.container
  = render 'breadcrumb'

%section#main.section
  .container
    .columns
      .column.is-two-thirds
        .level.is-block
          = render 'pagination'
        .level
          = render 'audio'
        %article#ayah.content
          = render 'previous'
          = render 'current'
          = render 'next'          
        = render 'pagination'
      .column
        = render 'quran/surahs/information', surah: @ayah.surah

- provide :title, "#{@ayah.surah_name} #{@ayah.number}"