- if browser.mobile?
  - content_for :after_navbar do
    = render 'quran/ayahs/partials/mobile/after_navbar'

  .info.is-hidden{data: {target: 'tabs.tabbable'}}
    %p.field
      = render 'quran/ayahs/tags/tags'
    %br
    %p.field
      = render 'quran/surahs/partials/information', surah: @ayah.surah

  = render 'quran/ayahs/partials/bottom_navbar'  

- else
  - content_for :after_header do
    = render 'quran/ayahs/partials/desktop/show_after_header'

  - content_for :sidebar do
    = render 'quran/ayahs/tags/tags'
    = render 'quran/surahs/partials/information', surah: @ayah.surah


.ayah{data: {target: 'tabs.tabbable'}}
  .media
    .media-left
      %p.field
        = render 'quran/ayahs/partials/memory_button', ayah: @ayah
      %p.field
        = render 'quran/ayahs/partials/bookmark_button', ayah: @ayah

    .media-content
      .content
        - @ayah.texts_and_included_translations.each do |text|
          %p.has-text-orange-dark{class: ('is-hidden' if text.uthmani?)}= text.translation.name
          %p{class: ('arabic' if text.uthmani?)}= sanitize text.content

- provide :title, @ayah
- provide :layout_template, 'two_column'