- content_for :top do
  = render 'breadcrumb'

- content_for :main do
  = render 'audio'
  = render 'buttons'

  %article#ayah.content
    = render 'previous'
    = render 'current'
    = render 'next'

- content_for :aside do
  = render 'pagination'
  = render 'quran/surahs/information', surah: @ayah.surah

= render "layouts/templates/is_half", title: @ayah