<article class="ayah">
  <h1><%= "#{@surah.id}:#{ayah.number}" %></h1>

  <% ayah.texts.ordered_by_quran_id.each do |text| %>
    <section>
      <h2<%= ' class="hidden"'.html_safe if text.quran_id == 1 %>><%= text.quran.name %></h2>
      <p<%= ' class="arabic"'.html_safe if text.quran_id == 1 %>><%= text.content.html_safe %></p>
    </section>
  <% end %>
</article>