<article id="ayah-<%= ayah.id %>" class="ayah">
  <header>
  <h1><%= "#{@surah.id}:#{ayah.number}" %></h1>
  <% if user_signed_in? %>
      <div 
        class='ayah-actions' 
        data-ayah-id="<%= ayah.id %>" 
        <% if memory = ayah_is_memorized?(current_user, ayah) %>
          data-memory-id="<%= memory.id %>"
          data-memorized='true'
        <% else %>
          data-memory-id="0"
          data-memorized='false'
        <% end %>
      >
      </div>
      <% if favorite = ayah_is_favorited?(current_user, ayah) %>      
        <div class="favorite" data-favoriteid="<%= favorite.id %>" data-favorited="true" data-ayahid="<%= ayah.id %>"></div>
      <% else %>
        <div class="favorite" data-favoriteid="0" data-favorited="false" data-ayahid="<%= ayah.id %>"></div>      
      <% end %>
  <% end %>
  </header>
  <section>
  <% ayah.texts.ordered_by_quran_id.each do |text| %>
      <h2<%= ' class="hidden"'.html_safe if text.quran_id == 1 %>><%= text.quran.name %></h2>
      <p<%= ' class="arabic"'.html_safe if text.quran_id == 1 %>><%= text.content.html_safe %></p>
  <% end %>
  </section>
</article>