- if @ayah.previous?
  .previous-ayah
    = @ayah.previous.texts.last.content.html_safe
    = link_to ayah_by_number_path(@ayah.previous.surah.id, @ayah.previous.number) do
      = "(#{@ayah.previous.surah.id}:#{@ayah.previous.number})"

%article.current-ayah
  %h1= "#{@surah.transliterated_name} #{@ayah.number}"

  - @ayah.texts.ordered_by_quran_id.each do |text|
    .ayah-text
      %h2{class: ('d-none' if text.uthmani?)}= text.quran.name
      %p{class: ('arabic' if text.uthmani?)}= text.content.html_safe

- if @ayah.next?
  .next-ayah
    = @ayah.next.texts.last.content.html_safe
    = link_to ayah_by_number_path(@ayah.next.surah.id, @ayah.next.number) do
      = "(#{@ayah.next.surah.id}:#{@ayah.next.number})"

%section.discussions
  %h1 Discussions

  - unless @ayah.topics.empty?
    %table.table
      %thead
        %tr
          %th Topic
      %tbody
        - @ayah.topics.each do |topic|
          %tr
            %td
              = link_to topic.subject, topic_path(topic)
  - else
    .alert.alert-info
      No-one has started a discussion. Why not be the first?

- provide :title, "#{@surah.transliterated_name}:#{@ayah.number}"