

.prev-next
  .row
    
    .col-12.col-lg-10
      %ol.breadcrumb
        %li.breadcrumb-item= link_to 'Home', root_path
        %li.breadcrumb-item= link_to @ayah.surah_name, surah_path(@ayah.surah_permalink)
        %li.breadcrumb-item= @ayah.number

    .col-6.col-lg-1
      - if @ayah.previous?
        = link_to ayah_by_number_path(@ayah.previous.surah.id, @ayah.previous.number), class: 'prev-next-link' do
          %span.sr-only Previous
          = fa_icon 'chevron-circle-left'
      - else
        = link_to '#', class: 'prev-next-link text-secondary' do
          %span.sr-only Previous
          = fa_icon 'times-circle'
    
    .col-6.col-lg-1
      - if @ayah.next?
        = link_to ayah_by_number_path(@ayah.next.surah.id, @ayah.next.number), class: 'prev-next-link float-right' do
          %span.sr-only Next
          = fa_icon 'chevron-circle-right'
      - else
        = link_to '#', class: 'prev-next-link float-right text-secondary' do
          %span.sr-only Next
          = fa_icon 'times-circle'

.ayah
  - if @ayah.previous?
    .previous-ayah
      = @ayah.previous.texts.last.content.html_safe
      = link_to ayah_by_number_path(@ayah.previous.surah.id, @ayah.previous.number) do
        = "(#{@ayah.previous.surah.id}:#{@ayah.previous.number})"

  %article.current-ayah
    %h1= "#{@ayah.surah_name} #{@ayah.number}"

    - @ayah.texts.each do |text|
      .ayah-text
        %h2{class: ('d-none' if text.uthmani?)}= text.quran.name
        %p{class: ('arabic' if text.uthmani?)}= text.content.html_safe
    
    %section
      = render 'shared/ayah_actions', ayah: @ayah

  - if @ayah.next?
    .next-ayah
      = @ayah.next.texts.last.content.html_safe
      = link_to ayah_by_number_path(@ayah.next.surah.id, @ayah.next.number) do
        = "(#{@ayah.next.surah.id}:#{@ayah.next.number})"

- provide :title, "#{@ayah.surah_name}:#{@ayah.number}"

- content_for :aside do
  = render 'shared/surah_information', surah: @ayah.surah