%section.section
  .container
    %header
      %h1.title Surahs
      %h2.subtitle Quran Divided into it's 114 chapters

    %section
      %ul
        - @surahs.each do |surah|
          %li.field
            .media
              .media-left
                = link_to hifz_surah_memory_path(surah), class: surah.memorized? ? 'button is-large is-text has-text-memorized' : 'button is-large is-text has-text-dark', method: :post do
                  = fa_icon 'heart'
            
              .media-content
                = link_to hifz_page_ayah_path(surah.first_page, surah.first_ayah), class: 'has-text-dark' do
                  #{surah}<br>#{surah.description}
                
              .media-right
                %p.is-size-4.has-text-grey-lighter= number_to_percentage(surah.memorized_percentage, strip_insignificant_zeros: true)

= provide :title, 'Pages | Hifz'