= form_with model: @connection, url: account_connection_path(@connection), local: true, method: :patch, id: 'connection_form' do |f|
  = render 'shared/error_messages', object: @connection
  .columns
    .column
      .field
        = f.label :active, 'Status', class: 'label'
        .control
          .select.is-fullwidth
            = f.select :active, [['Active', true], ['Inactive', false]], {}, id: 'connection_active'

    .column
      .field
        = f.label :translation_id, 'Posting From', class: 'label'
        .control
          .select.is-fullwidth
            = f.select :translation_id, Translation.available_for_posting.map{|s|[s.name, s.id]}

  .columns
    .column
      = f.label :hashtags, 'Hashtag', class: 'label'
      
      .field.has-addons
        .control
          %a.button.is-static
            = fa_icon 'hashtag'
        .control.is-expanded
          = f.text_field :hashtags, class: 'input', id: 'connection_hashtags', placeholder: 'PerfectQuran'

    .column
      .field
        = f.label :frequency, class: 'label'
        .control
          .select.is-fullwidth
            = f.select :frequency, Connection.frequencies.keys.map {|key| [key.humanize, key]}

  .field
    .control
      = f.submit class: 'button is-orange'