- if @connections.any?
  %table.table.is-fullwidth
    %thead
      %tr
        %th Name
        %th Active?
    %tfoot
      %tr
        %th Name
        %th Active?
    %tbody
      - @connections.each do |connection|
        %tr{id: "connection-#{connection.id}"}
          %td
            %span.icon= fa_icon connection.provider
            = link_to edit_account_connection_path(connection) do
              = connection.name
          %td= connection.active

- else
  %p.notification.is-info You have no connected social media accounts