%section.hero.is-brown.is-fullheight
  .hero-body
    .container
      .columns
        .column.is-one-third.content.is-size-6
          %p
            These surahs are commonly memorized. Have you memorized them?
            
          %p
            Keep track of how much Quran you've memorized and see your
            progression. We will use this information to bring you tools to
            help you reach your Quran goals.

          %p
            Your memorization data is private by default, except to PerfectQuran
            site administrators. We pledge not to share it, without your express
            permission.

        .column
          = image_tag 'verticle-perfectquran.jpg', alt: ''
        .column.is-half
          %h1.title Have you memorized any of these Surahs?

          .field
            .columns.is-multiline
              - @commonly_memorized_surahs.each do |surah|
                .column.is-one-third
                  %p.control{id: "memory-surah-#{surah.id}"}
                    = link_to quran_surah_memories_path(surah), method: :post, remote: true, class: 'not-memorized' do
                      #{fa_icon('heart-o')} #{surah.transliterated_name}

          = link_to 'Next', new_accounts_registrations_subscription_path, class: 'button is-orange'

- provide :title, 'Have you memorized any of these Surahs?'