= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "registration-form"}) do |f|
  = devise_error_messages!

  .field
    = f.label :email, class: 'label'
    .control
      = f.email_field :email, class: 'input'

  .field
    = f.label :password, class: 'label'
    .control
      = f.password_field :password, autocomplete: "off", class: 'input'
    %p.help= "Password (#{@minimum_password_length} characters minimum)"

  .field
    = f.label :password_confirmation, class: 'label'
    .control
      = f.password_field :password_confirmation, autocomplete: "off", class: 'input'
  
  .field
    = f.submit "Register", class: "button is-orange", id: 'registration-form-submit'