<table class='table is-fullwidth'>
  <tbody>
    <tr>
      <th>#</th>
      <td><%= @resource.id %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @resource.email %></td>
    </tr>
    <tr>
      <th>Unconfirmed Email</th>
      <td><%= @resource.unconfirmed_email %></td>
    </tr>
    <tr>
      <th>Role</th>
      <td><%= @resource.role %></td>
    </tr>
    <tr>
      <th>Sign In Count</th>
      <td><%= @resource.sign_in_count %></td>
    </tr>
    <tr>
      <th>Current Sign In IP</th>
      <td><%= @resource.current_sign_in_at %></td>
    </tr>
    <tr>
      <th>Last Sign In IP</th>
      <td><%= @resource.last_sign_in_at %></td>
    </tr>
    <tr>
      <th>Reset Password Sent At</th>
      <td><%= @resource.reset_password_sent_at %></td>
    </tr>
    <tr>
      <th>Remember Created At</th>
      <td><%= @resource.remember_created_at %></td>
    </tr>
    <tr>
      <th>Current Signed In At</th>
      <td><%= @resource.current_sign_in_at %></td>
    </tr>
    <tr>
      <th>Last Signed In At</th>
      <td><%= @resource.last_sign_in_at %></td>
    </tr>
    <tr>
      <th>Confirmed At</th>
      <td><%= @resource.created_at %></td>
    </tr>
    <tr>
      <th>Confirmation Sent At</th>
      <td><%= @resource.updated_at %></td>
    </tr>
    <tr>
      <th>Created At</th>
      <td><%= @resource.created_at %></td>
    </tr>
    <tr>
      <th>Updated At</th>
      <td><%= @resource.updated_at %></td>
    </tr>
  </tbody>
</table>