= render 'shared/page_header', title: 'Accounts'

%section#main.section
  .container
    .columns
      .column.is-one-fifth
        = render 'admin/shared/menu'
      .column
        %table#articles.table.is-fullwidth
          %tbody
            %tr
              %th #
              %th Email
              %th Role
          %tfoot
            %tr
              %th #
              %th Email
              %th Role
          %tbody
            - @accounts.each do |account|
              %tr
                %td= account.id
                %td= link_to account.email, admin_account_path(account)
                %td= account.role

- provide :title, 'Accounts'