.navbar.is-dark
  .container
    .navbar-end
      .navbar-item
        .field.is-grouped
          %p.control
            = link_to admin_accounts_path, class: 'button' do
              %span.icon= fa_icon 'th-list'
              %span Accounts Index

%section.section
  .container
    %header
      %h1.title= "Account: #{@account.email}"

      %section.box
        = render 'profile_details'
        = render 'connection_details'

- provide :title, "Account: #{@account.email}"