= render 'shared/page_header', title: "Account: #{@account.email}"

%section#main.section
  .container
    .columns
      .column.is-one-fifth
        = render 'admin/shared/menu'
      .column
        - if @account.profile
          %section
            %h1.title Profile Details
            %table.table.is-fullwidth.is-bordered
              %tbody
                %tr
                  %th Name
                  %td= @account.profile.name
                %tr
                  %th Username
                  %td= @account.profile.username
                %tr
                  %th Bio
                  %td= @account.profile.bio

        - if @account.connections.any?
          %section
            %h1.title Connections
            %table.table.is-fullwidth.is-bordered
              %tbody
                - @account.connections.each do |connection|
                  %tr
                    %td= connection.id
                    %td= connection.provider_uid
                    %td= connection.provider
                    %td= connection.status

        - if @account.memories.any?
          %section
            %h1.title Memories
            %table.table.is-fullwidth.is-bordered
              %tbody
                - @account.memories.each do |memory|
                  %tr
                    %td= memory.id
                    %td= memory.ayah_id

- provide :title, "Account: #{@account.email}"