%section.section
  .container
    .columns
      .column.is-one-fifth
        = render 'admin/shared/menu'

      .column
        %header
          %h1.title= "Account: #{@account.email}"

        %section
          = render 'profile_details'
          = render 'connection_details'
          = render 'memory_details'

      .column.is-one-fifth

- provide :title, "Account: #{@account.email}"