%section.hero.is-brown.is-fullheight
  .hero-body
    .container
      %h1.is-invisible Subscribe to PerfectQuran
      .columns
        .column.content.is-size-6
          %h1.title The Problem

          %p
            Creating, maintaining and growing a website is hard work, it takes a 
            lot of time and the costs can mount up quickly.

          %p
            Many websites and services rely on showing ads and/or selling your
            personal data. Both things PerfectQuran is going to avoid.

          %p
            When PerfectQuran was first created we had no idea how popular it
            was going to be. Without any real means to pay for the growing costs,
            that popularity turned out to be too expensive and eventually killed the site. 

        .column.content
          %h1.title The Benefits
          %p
            #{fa_icon('check', class: 'has-text-success')} Share in its future and
            successes.

          %p
            #{fa_icon('check', class: 'has-text-success')} Enjoy patron only features

          %p
            #{fa_icon('check', class: 'has-text-success')} Never ever see an advertisement

          %p
            #{fa_icon('check', class: 'has-text-success')} Have a strong voice on future features

          %p
            #{fa_icon('check', class: 'has-text-success')} First access to new features

          %p
            #{fa_icon('check', class: 'has-text-success')} Recognition of your status

          %p
            #{fa_icon('check', class: 'has-text-success')} My gratitude and prayers


        .column.content.is-two-fifths
          %h1.title The Solution

          = form_with model: @subscription, url: accounts_registrations_subscription_path, local: true, method: :post, id: 'payment_form' do |f|
            #card-errors

            .field
              #card-element.control

            %p.control
              .buttons
                = f.submit 'Submit Payment', class: 'is-subscription'
                = link_to 'Cancel', accounts_profile_path, class: 'is-cancellation'

            = javascript_pack_tag 'stripe'

          = image_tag 'perfectquran.jpg', alt: ''

  .hero-foot
    .container
      %p.is-size-7.content
        The payment form above is powered by #{link_to 'stripe', 'https://stripe.com'}. 
        Your payment details are never submitted to PerfectQuran servers.

- provide :title, 'Subscribe to PerfectQuran'