%footer.footer
  .container
    .columns
      .column.content
        %p
          %strong PerfectQuran
          by
          = link_to('Abdullah Hashim', 'https://imabusabah.github.io') + '.'
          He may also be found on
          = link_to('Twitter', 'https://twitter.com/ImAbuDhuha') + '.'
        %p
          The source code for this site can be found at
          = link_to 'https://github.com/imabusabah/perfectquran' do
            = fa_icon 'github'
            GitHub
          and is licensed under the
          = link_to 'MIT', 'https://opensource.org/licenses/mit-license.php'
          License.
        %p
          The content is licensed under the
          = link_to('CC BY-NC-SA 4.0', 'https://creativecommons.org/licenses/by-nc-sa/4.0/') + '.'
          This does not cover the Quranic text, translations or audio. Please
          check the relevant websites for licensing information.
        %p
          The Quranic text and translations were obtained from
          = link_to('Tanzil', 'http://tanzil.net/trans/') + '.'
        %p
          The audio recitations are from
          = link_to 'MP3 Quran', 'http://www.mp3quran.net/eng/'
          and
          = link_to('EveryAyah', 'http://everyayah.com/data/status.php') + '.'
      .column
        %p All praise and thanks belongs to Allah alone.
      .column
        .menu
          %p.menu-label Content
          %ul.menu-list
            %li
              = link_to 'Quran', quran_root_path
              - Article.published_pages.each do |page|
                %li= link_to page.title, content_article_path(page.permalink)
          %p.menu-label Social Media Profiles
          %ul.menu-list
            %li
              = link_to 'https://twitter.com/PerfectQuran' do
                = fa_icon 'twitter'
                Twitter