%nav.navbar.navbar-expand-lg.navbar-light.bg-white
  
  = link_to root_path, class: 'navbar-brand' do
    PerfectQuran

  %button.navbar-toggler{ type: 'button', data: { toggle: 'collapse', target: '#mobile-nav' } }
    %span.navbar-toggler-icon

  #mobile-nav.collapse.navbar-collapse
    
    = form_with url: searches_path, local: true, class: 'form-inline col-6' do |f|
      = f.text_field :terms, class: 'form-control col-10 mr-sm-2', value: params[:id] || ''
      = f.submit 'Search', class: 'btn btn-outline-success'

    = select_tag :surah_quick_find, options_from_collection_for_select(Surah.all, "permalink", "transliterated_name"), prompt: 'Select Surah', class: 'form-control'

    %ul.navbar-nav
      - if user_signed_in?
        %li.nav-item
          = link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link'
      - else
        %li.nav-item
          = link_to 'Login', new_user_session_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Register', new_user_registration_path, class: 'nav-link'
