%section
  %h1 New Comment
  
  - if user_signed_in?
    = form_with model: [commentable, comment] do |f|

      = render 'shared/error_messages', object: comment

      .form-group
        = f.label :content
        = f.text_area :content, id: :comment_content, class: 'form-control'

      = f.submit class: 'btn btn-primary'
  - else
    %p.alert.alert-info You must be logged in to comment.

%section
  %h1 Markdown Quick Reference
  %p Comments accept markdown to style your comments. Below is a quick reference to get you started.
  %table.table.table-responsive
    %tbody
      %tr
        %th Bold
        %td __Bold__
        %td= markdown '__Bold__'
      %tr
        %th Emphasis
        %td *Emphasis*
        %td= markdown '*Emphasis*'
      %tr
        %th Underline
        %td _underline_
        %td= markdown '_underline_'
      %tr
        %th Strikethrough
        %td ~~strikethrough~~
        %td= markdown '~~strikethrough~~'

  %p= link_to 'Learn more about Markdown from Wikipedia', 'https://en.wikipedia.org/wiki/Markdown' 