= render 'toolbar'

%section
  %h1 New Page
  
  = form_with scope: :page, url: manage_pages_path, id: 'new-page' do |f|
    
    = render 'shared/error_messages', object: @page
  
    .form-group
      = f.label :title
      = f.text_field :title, class: 'form-control', id: 'page_title'
  
    .form-group
      = f.label :content
      = f.text_area :content, rows: 20, class: 'form-control', id: 'page_content'
  
    = f.submit 'Create Page', class: 'btn btn-secondary'
   
- provide :title, 'New Page'