.box
  %table#articles.table.is-fullwidth
    %tbody
      %tr
        %th #
        %th Title
        %th Permalink
        %th Category
        %th Visibility
        %th Collection
    %tbody
      - @articles.each do |article|
        %tr
          %td= article.id
          %td= link_to article.title, admin_article_path(article)
          %td= article.permalink
          %td= article.category.name
          %td= article.visibility
          %td= article.collection