.navbar.is-dark
  .container
    .navbar-end
      .navbar-item
        .field.is-grouped
          %p.control
            = link_to admin_articles_path, class: 'button' do
              %span.icon= fa_icon 'th-list'
              %span Articles Index

          %p.control
            = link_to new_admin_article_path, class: 'button' do
              %span.icon= fa_icon 'pencil'
              %span Write New Article

          %p.control
            = link_to admin_article_path(@article), class: 'button is-success' do
              %span.icon= fa_icon 'eye'
              %span Show Article

          %p.control
            = link_to admin_article_path(@article), method: :delete, class: 'button is-danger' do
              %span.icon= fa_icon 'trash'
              %span Delete Article

%section.section
  .container
    %header
      %h1.title Edit Article

    %section.box
      = form_with scope: :article, url: admin_article_path(@article), local: true, method: :patch, id: 'edit_article' do |f|
        = render 'form_fields', f: f

- provide :title, 'Edit Article'