.navbar.is-dark
  .container
    .navbar-end
      .navbar-item
        .field.is-grouped
          %p.control
            = link_to admin_articles_path, class: 'button' do
              %span.icon= fa_icon 'th-list'
              %span Articles Index

          %p.control
            = link_to new_admin_article_path, class: 'button' do
              %span.icon= fa_icon 'pencil'
              %span Write New Article

          %p.control
            = link_to edit_admin_article_path(@article), class: 'button is-success' do
              %span.icon= fa_icon 'edit'
              %span Edit Article

          %p.control
            = link_to admin_article_path(@article), method: :delete, class: 'button is-danger' do
              %span.icon= fa_icon 'trash'
              %span Delete Article

%section.section
  .container
    %header
      %h1.title= @article.title

    %section.box
      .content
        = sanitize @article.content

- provide :title, @article.title