%section#comments
  %h1 Comments
  
  - if @post.visible_comments?
    %ul.list-unstyled
      - @post.comments.each do |comment|
        - if comment.visible?
          %li.media.comment{id: "comment-#{comment.id}"}
            .media-body
              %p
                %small
                  = "By #{comment.user.name}, #{time_ago_in_words(comment.created_at)} ago."
                  - unless comment.approved?
                    %span.float-right
                      = link_to new_comment_flag_path(comment) do
                        = fa_icon 'flag'
                        Flag

              %p= markdown comment.content
  - else
    %p.alert.alert-info= t 'comment.no_comments'