<div id="surah">
	
	<header>
		<h1><%= @surah.transliterated_name %></h1>
		<%= breadcrumb(@surah) %>
		<%= previous_next_links(@surah) %>
	</header>

	<div id="ayahs">
		<%= render @surah.ayahs %>
	</div>

	<footer>
		<%= previous_next_links(@surah) %>
	</footer>

</div>

<% content_for(:sidebar) do %>
		<%= render "shared/surah_information" %>
<% end %>

<%= javascript_pack_tag 'favorites' %>
<%= javascript_pack_tag 'memory_button' %>