<% provide(:title, @surah.transliterated_name) %>

<div id="surah">
	<div class='row'>
		<div class='col-8'>
			<%= breadcrumb(@surah) %>	
		</div>
		<div class='col-4' style='text-align: right;'>
			<%= link_to @surah.previous.permalink, class: 'btn btn-secondary' do %>
				<%= fa_icon 'chevron-left' %>
			<% end %>
			<%= link_to @surah.next.permalink, class: 'btn btn-secondary' do %>
				<%= fa_icon 'chevron-right' %>
			<% end %>
		</div>
	</div>

	<div id="ayahs">
		<%= render @surah.ayahs %>
	</div>

</div>

<%= javascript_pack_tag 'ayah_actions' %>