= form_for [@ayah, @topic] do |f|

  = render 'shared/error_messages', object: @topic

  .form-group
    = f.label :subject
    = f.text_field :subject, autofocus: true, class: 'form-control'

  .form-group
    = f.label :content
    = f.text_area :content, class: 'form-control'

  = f.submit 'Add Topic', class: 'btn btn-secondary'

- provide :title, 'New Topic'