.alert.alert-light
  Posted in
  = link_to "#{@topic.discussable.surah.transliterated_name}:#{@topic.discussable.number}", ayah_by_number_path(@topic.discussable.surah.id, @topic.discussable.number)
  = @topic.created_at.strftime('on %b %e, %Y')
  = "by #{@topic.user.name}"

.content
  = markdown @topic.content

.comments
 
  %h2 Comments
  
  - unless @topic.comments.empty?
    - @topic.comments.each do |comment|
      .comment
        .alert.alert-light
          = @topic.user.name
          = time_ago_in_words(comment.created_at)
          ago  
        .comment-content
          = markdown comment.content
  
  - else
    .alert.alert-info
      No comment

.new-comment
  %h3 New Comment

  - if user_signed_in?
    = render 'comments/form'
  - else
    .alert.alert-info
      = t 'comment.alert.must_be_logged_in'

- provide :title, @topic.subject
- provide :sub_title, "#{@topic.discussable.surah.transliterated_name}:#{@topic.discussable.number}"