.alert.alert-light
  Posted in
  = link_to "#{@topic.discussable.surah.transliterated_name}:#{@topic.discussable.number}", ayah_by_number_path(@topic.discussable.surah.id, @topic.discussable.number)
  = @topic.created_at.strftime('on %b %e, %Y')
  = "by #{@topic.user.name}"

.content
  = markdown @topic.content

- provide :title, @topic.subject
- provide :sub_title, "#{@topic.discussable.surah.transliterated_name}:#{@topic.discussable.number}"