%table.table.is-fullwidth
  %tr
    %th Status
    %td #{@subscription.status.capitalize}
    %td
      - if @subscription.status == 'active'
        = link_to 'Cancel', accounts_subscription_path, method: :delete, class: 'has-text-danger'
      - else
        = link_to 'Reactivate', accounts_subscription_path, method: :patch, class: 'has-text-success'
  %tr
    %th Billing
    %td
      Last Charge: #{@charge.created_at.to_date.to_formatted_s(:long_ordinal)}
      - if @subscription.status == 'active'
        %br
        Next Charge: #{Time.at(@subscription.current_period_end.to_i).to_date.to_formatted_s(:long_ordinal)}
    %td= link_to 'Billing History', accounts_charges_path, class: 'has-text-info'
  %tr
    %th Payment Method
    %td #{fa_icon('cc-' + @subscription.payment_brand.downcase)} Last four Digits #{@subscription.payment_last4}
    %td= link_to 'Change Payment Method', edit_accounts_card_path, class: 'has-text-info'