.media
  .media-left
    = sanitize Gravatar.tag(current_account.email, 60)
  .media-content
    .content
      - if @profile.name.present? || @profile.username.present?
        %p
          - if @profile.name.present?
            <strong>#{@profile.name}</strong>
          - if @profile.username.present?
            <small>(@#{@profile.username})</small>
          %br
          Member since #{current_account.created_at.to_date.to_formatted_s(:long_ordinal)}

      - if @profile.bio.present?
        %p.content
          = @profile.bio