%section#summary
  .columns.is-mobile
    .column
      = Gravatar.tag(current_account.email, 135).html_safe
    .column.is-four-fifths
      - if @profile.name.present? || @profile.username.present?
        %h1.title
          - if @profile.name.present?
            #{@profile.name}
          - if @profile.username.present?
            <small>(@#{@profile.username})</small>
      %h2.subtitle
        Member since #{current_account.created_at.to_date.to_formatted_s(:long_ordinal)}
      - if @profile.bio.present?
        %p.content
          = @profile.bio