%section.hero.is-brown.is-fullheight
  .hero-body
    .container
      .columns
        .column.is-one-third.content.is-size-6
          = image_tag 'perfectquran.jpg', alt: '', class: 'masthead-image'
          %p
          %p
            We are developing a community of Muslims, who love Allah, His
            Prophet, salallahu alayhi wa sallam, and His Book.
            
          %p
            We're excited that you've decided to be part of that community and
            would like to get to know you.

          %p
            Privacy is important and you should only share as much information
            as you feel comfortable with. All of these fields are optional
            feel free to skip anything you like.

        .column
        .column.is-half
          %h1.title Tell Us About Yourself

          = form_with model: @profile, url: accounts_profile_path, local: true, method: :post, id: 'profile_form' do |f|
            = render 'shared/error_messages', object: @profile
          
            .field
              = f.label :name, class: 'label'
              .control
                = f.text_field :name, class: 'input', id: 'profile_name'
          
            .field
              = f.label :username, class: 'label'
              .control
                = f.text_field :username, class: 'input', id: 'profile_username'
          
            .field
              = f.label :bio, class: 'label'
              .control
                = f.text_area :bio, class: 'textarea is-expanded', id: 'profile_bio'
            
            = f.submit 'Next', class: 'button is-orange'

- provide :title, 'Tell Us About Yourself'