- content_for :header do
  = render 'accounts/shared/menu'

  - unless current_account.patron?
    .notification.is-info
      Do you love PerfectQuran and want it to succeed? 
      = link_to 'Become a Patron of our work for $5 a month', accounts_subscription_path
  
- content_for :main do
  = render 'summary'
  = render 'points'

- content_for :aside do
  .buttons
    = link_to 'Edit Profile', edit_accounts_profile_path, class: 'button is-fullwidth'    

= render "layouts/templates/is_two_thirds", title: 'Profile'