.level
  .level-left
    .level-item
      %span.icon
        = fa_icon 'folder'
      %span
        = article.category_name
    .level-item
      %span.icon
        = fa_icon 'user'
      %span
        = article.author_name
    .level-item
      %span.icon
        = fa_icon 'calendar'
      %span
        = article.created_at.to_date.to_formatted_s(:short_ordinal)
    .level-item
      %span.icon
        = fa_icon 'comments'
      %span
        = pluralize article.comments_count, 'comment'