- if account_signed_in? && @article.post?
  
  %h3.title New Comment

  = form_with model: [:content, @article, @comment] do |f|
    = render 'shared/error_messages', object: @comment
    .field
      = f.label :content, class: 'is-hidden'
      .control
        = f.text_area :content, class: 'textarea is-expanded', id: 'comment_content', placeholder: 'What do you think?'
    = f.submit class: 'button is-orange'

- else
  %p.notification.is-info You Must be logged in to comment.