%section.section
  .container
    .columns.is-centered
      .column.is-two-thirds
        %header
          %h1.title= @article.title

        %section
          .content
            = render 'content/articles/article_metadata', article: @article
            = sanitize @article.content
          
        %section
          = render 'content/articles/comments'

        %section
          = render 'content/articles/comments_form'

- provide :title, @article.title