<div class='columns'>
  <div class='column'>
    <%= render 'accounts/memories/partials/progress' %>
  </div>

  <div class='column' data-controller='visibility'>
    <div class='tabs is-right' data-target='visibility.visibility'>
      <ul>
        <li>
          <%= link_to accounts_memory_path, method: :post, remote: true, data: {action: 'visibility#toggle'} do %>
            <span class='icon'><%= fa_icon 'plus' %></span>
            <span>Memorize All</span>
          <% end %>
        </li>
        <li>
          <%= link_to accounts_memory_path, method: :delete, remote: true, data: {action: 'visibility#toggle'} do %>
            <span class='icon'><%= fa_icon 'minus' %></span>
            <span>Forget All</span>
          <% end %>
        </li>
      </ul>
    </div>

    <div class='notification is-info is-hidden' data-target='visibility.visibility'>
      <p>This may take a while...</p>
    </div>
  </div>
</div>

<div class='section-divider'></div>

<div class='columns'>
  <div id='not-memorized' class='column'>
    <h2 class='subtitle'>Not Memorized</h2> 
    <div class='buttons'>
      <% @not_memorized_surahs.each do |surah| %>
        <%= link_to surah, accounts_memory_surah_path(surah), class: 'button is-fullwidth' %>
      <% end %>
    </div>
  </div>

  <div id='partially-memorized' class='column'>
    <h2 class='subtitle'>Partially Memorized</h2>
    <div class='buttons'>
      <% @partially_memorized_surahs.each do |surah| %>
        <%= link_to surah, accounts_memory_surah_path(surah), class: 'button is-fullwidth' %>
      <% end %>
    </div>
  </div>

  <div id='memorized' class='column'>
    <h2 class='subtitle'>Memorized</h2>
    <div class='buttons'>
      <% @memorized_surahs.each do |surah| %>
        <%= link_to surah, accounts_memory_surah_path(surah), class: 'button is-fullwidth' %>
      <% end %>
    </div>
  </div>
</div>

<% provide :title, 'Quran Memorization' %>

<%  unless browser.mobile? %>
  <% content_for :after_header do %>
    <%= render 'accounts/shared/menu' %>
  <% end %>
<% end %>