= form_with model: [:admin, @resource], id: 'form' do |f|
  = render 'shared/error_messages', object: @resource

  .field
    .columns
      .column
        = f.label :name, class: 'label'
        .control
          = f.text_field :name, autofocus: true, class: 'input', id: 'mosque_name'

      .column
        = f.label :phone, class: 'label'
        .control
          = f.text_field :phone, class: 'input', id: 'mosque_phone'

  .field
    .columns
      .column
        = f.label :email, class: 'label'
        .control
          = f.email_field :email, class: 'input', id: 'mosque_email'

      .column
        = f.label :website, class: 'label'
        .control
          = f.text_field :website, class: 'input', id: 'mosque_website'

  .field
    .columns
      .column
        = f.label :street, class: 'label'
        .control
          = f.text_field :street, class: 'input', id: 'mosque_street'

  .field
    .columns
      .column
        = f.label :city_id, 'Location', class: 'label'
        .control
          .select.is-fullwidth
            = f.select :city_id, City.all.collect {|c| [ c.name, c.id ] }, {}, id: 'mosque_city_id'

      .column
        = f.label :zip_code, 'Zip Code', class: 'label'
        .control
          = f.text_field :zip_code, class: 'input', id: 'mosque_zip_code'

  .field
    .control
      = f.submit nil, class: 'button is-primary'