= render 'shared/error_messages', object: @mosque

= field_set_tag 'Basic' do
  .field
    .columns
      .column
        = f.label :name, class: 'label'
        .control
          = f.text_field :name, autofocus: true, class: 'input', id: 'mosque_name'

      .column
        = f.label :phone, class: 'label'
        .control
          = f.text_field :phone, class: 'input', id: 'mosque_phone'

  .field
    .columns
      .column
        = f.label :email, class: 'label'
        .control
          = f.email_field :email, class: 'input', id: 'mosque_email'

      .column
        = f.label :website, class: 'label'
        .control
          = f.text_field :website, class: 'input', id: 'mosque_website'

= field_set_tag 'Address' do
  .field
    .columns
      .column.is-four-fifths
        = f.label :street, class: 'label'
        .control
          = f.text_field :street, class: 'input', id: 'mosque_street'

      .column
        = f.label :zip_code, 'Zip Code', class: 'label'
        .control
          = f.text_field :zip_code, class: 'input', id: 'mosque_zip_code'

  .field
    .columns
      .column
        = f.label :city, class: 'label'
        .control
          = f.text_field :city, class: 'input', id: 'mosque_city'

      .column
        = f.label :state, class: 'label'
        .control
          = f.text_field :state, class: 'input', id: 'mosque_state'

      .column
        = f.label :country, class: 'label'
        .control
          = f.text_field :country, class: 'input', id: 'mosque_country'

.field
  .control
    = f.submit nil, class: 'button is-primary'