<table class='table is-fullwidth'>
  <tbody>
    <tr>
      <th>#</th>
      <td><%= @resource.id %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @resource.name %></td>
    </tr>
    <tr>
      <th>Phone</th>
      <td><%= @resource.phone %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @resource.email %></td>
    </tr>
    <tr>
      <th>Website</th>
      <td><%= @resource.website %></td>
    </tr>
    <tr>
      <th>Street</th>
      <td><%= @resource.street %></td>
    </tr>
    <tr>
      <th>City</th>
      <td><%= @resource.city %></td>
    </tr>
    <tr>
      <th>State</th>
      <td><%= @resource.state_name %></td>
    </tr>
    <tr>
      <th>Country</th>
      <td><%= @resource.country_name %></td>
    </tr>
    <tr>
      <th>Zip Code</th>
      <td><%= @resource.zip_code %></td>
    </tr>
    <tr>
      <th>Created At</th>
      <td><%= @resource.created_at %></td>
    </tr>
    <tr>
      <th>Updated At</th>
      <td><%= @resource.updated_at %></td>
    </tr>
  </tbody>
</table>