%progress.progress{value: @memory_count, max: @surah.character_length}

.columns
  .column
    %h2.subtitle Not Memorized
    - current_account.not_memorized_ayahs(@surah).each do |ayah|
      .card
        %header.card-header
          %p.card-header-title= ayah
        .card-content
          .content
            %p.arabic= sanitize ayah.uthmani_text
        %footer.card-footer
          = link_to "#", class: 'card-footer-item' do
            %span.icon= fa_icon 'heart-o'
            %span Memorize
  .column
    %h2.subtitle Memorized
    - current_account.memorized_ayahs(@surah).each do |ayah|
      .card
        %header.card-header
          %p.card-header-title= ayah
        .card-content
          .content
            %p.arabic= sanitize ayah.uthmani_text
        %footer.card-footer
          = link_to "#", class: 'card-footer-item' do
            %span.icon= fa_icon 'heart'
            %span Memorized

- provide :title, "Memorization: #{@surah.transliterated_name}"

- unless browser.mobile?
  - content_for :after_header do
    = render 'accounts/shared/menu'