<%= render 'accounts/memories/surahs/partials/progress' %>

<div class='columns'>
  <div class='column'>
    <h2 class='subtitle'>Not Memorized</h2>
    <% @not_memorized_ayahs.each do |ayah| %>
      <div id="card-ayah-<%= ayah.id %>" class='card' data-controller='card' data-target='card.card'>
        <header class="card-header" data-action='click->card#toggleVisibility'>
          <p class="card-header-title"><%= ayah %></p>
          <p class="card-header-icon">
            <span class="icon"><%= fa_icon 'angle-down' %></span>
          </p>
        </header>

        <div class="card-content is-hidden" data-target='card.toggleVisibility'>
          <div class="content">
            <p class="arabic"><%= sanitize ayah.uthmani_text %></p>
          </div>
        </div>

        <footer class="card-footer is-hidden" data-target='card.toggleVisibility'>
          <%= link_to '#', class: 'card-footer-item' do %>
            <span class="icon"><%= fa_icon 'bob' %></span>
            <span>Practice</span>
          <% end %>
          <%= link_to accounts_memory_ayah_memory_path(ayah), method: :post, remote: true, class: 'card-footer-item' do %>
            <span class="icon"><%= fa_icon 'heart' %></span>
            <span>Memory</span>
          <% end %>
        </footer>
      </div>
    <% end %>
  </div>

  <div id='memorized-cards' class="column">
    <h2 class='subtitle'>Memorized</h2>
    <% @memorized_ayahs.each do |ayah| %>
      <%= render 'accounts/memories/surahs/partials/memorized_card', ayah: ayah %>
    <% end %>
  </div>
</div>

<% provide :title, "Memorization: #{@surah.transliterated_name}" %>

<% unless browser.mobile? %>
  <% content_for :after_header do %>
    <%= render 'accounts/shared/menu' %>
  <% end %>
<% end %>
