%section.hero.is-brown
  .hero-body
    .container.has-text-centered
      = image_tag 'perfectquran.jpg', alt: 'Perfect Quran'

%section.section
  .container
    %header
      %h1.title Surahs

    %section
      %ol#surahs
        - @surahs.each do |surah|
          %li
            = link_to quran_permalink_path(surah), id: "surah-#{surah.id}" do
              .media
                .media-content
                  .content
                    %p
                      <strong>#{surah.id}. #{surah}</strong><br>
                      #{surah.english_name} #{surah.arabic_name}<br>
                      #{surah.revelation_type.capitalize}. #{surah.number_of_ayahs} Ayat. Revealed #{surah.order_of_revelation.ordinalize}.
                .media-right.is-hidden-desktop
                  = fa_icon 'angle-right'

- provide :title, 'Surahs'