- content_for :top do
  = render 'breadcrumb'

- content_for :main do
  = render 'audio'
  = render 'buttons'

  %article#surah
    %h1.is-hidden= @surah.transliterated_name
    - @surah.ayahs_and_included_texts.each do |ayah|
      %article.ayah.content
        %h1.is-size-4
          = link_to quran_ayah_path(ayah), class: 'has-text-grey' do 
            = "#{@surah.transliterated_name} #{ayah.number}"
        - ayah.texts_and_included_translations.each do |text|
          .ayah-text.content
            %h2.has-text-orange-dark.is-size-5{class: ('is-hidden' if text.uthmani?)}= text.translation.name
            %p{class: ('is-size-2 has-text-right' if text.uthmani?)}= text.content.html_safe

- content_for :aside do
  = render 'pagination'
  = render 'information', surah: @surah  

= render "layouts/templates/is_half", title: @surah