- if browser.mobile?
  - content_for :after_navbar do
    = render 'quran/surahs/partials/mobile/after_navbar'

  .info.is-hidden{data: {target: 'tabs.tabbable'}}
    %p.field
      = render 'quran/surahs/partials/information', surah: @surah

  = render 'quran/surahs/partials/bottom_navbar'  

- else
  - content_for :after_header do
    = render 'quran/surahs/partials/desktop/show_after_header'
    
  - content_for :sidebar do
    = render 'quran/surahs/partials/information', surah: @surah

.surah{data: {target: 'tabs.tabbable'}}
  - @surah.ayahs_and_included_texts.each do |ayah|
    .media
      .media-left
        %p.field
          %strong #{ayah.number}.

        = link_to quran_ayah_path(ayah), class: 'button' do
          = fa_icon 'link'

      .media-content
        .content
          - ayah.texts_and_included_translations.each do |text|
            %p.has-text-orange-dark{class: ('is-hidden' if text.uthmani?)}= text.translation.name
            %p{class: ('is-size-4 has-text-right' if text.uthmani?)}= sanitize text.content

- provide :title, @surah
- provide :layout_template, 'two_column'