.container
  %nav.breadcrumb{aria: {label: "breadcrumbs"}}
    %ul
      %li= link_to 'Quran', quran_root_path
      %li.is-active= link_to @surah, quran_surah_path(@surah), aria: {current: "page"}

%section.section
  .container
    .columns
      .column
        %header
          %h1.title= @surah
          %h2.subtitle= @surah.description
    
      .column.is-one-fifth.is-hidden-mobile
        %nav.pagination
          = link_to 'Previous', quran_surah_path(@surah.previous), class: 'pagination-previous'
          = link_to 'Next Surah', quran_surah_path(@surah.next), class: 'pagination-next'

    .columns.is-variable.is-6
      .column.is-three-fifths
        %section
          %audio.is-hidden-touch{controls: true}
            %source{src: surah_audio_file(@surah.id), type: "audio/mpeg"}
              Your browser does not support the audio tag.

        %main
          - @surah.ayahs_and_included_texts.each do |ayah|
            .ayah
              = link_to ayah.number, quran_ayah_path(ayah)

              .content
                - ayah.account_texts.each do |text|
                  %p.has-text-orange-dark{class: ('is-hidden' if text.uthmani?)}= text.translation.name
                  %p{class: ('uthmani-text' if text.uthmani?)}= sanitize text.content

      .column
        %aside
          = render 'information', surah: @surah

%nav.navbar.is-fixed-bottom.is-hidden-desktop{data: {controller: 'navbar'}}
  %audio{controls: true, data: {target: 'navbar.audio'}}
    %source{src: surah_audio_file(@surah.id), type: "audio/mpeg"}
      Your browser does not support the audio tag.

  .navbar-brand
    = link_to quran_root_path, class: 'navbar-item' do
      = fa_icon 'list-ol'

    %a.navbar-item

    = link_to quran_surah_path(@surah.previous), class: 'navbar-item' do
      = fa_icon 'chevron-left'

    = link_to quran_surah_path(@surah.next), class: 'navbar-item' do
      = fa_icon 'chevron-right'

= render 'mobile_navbar'
- provide :title, @surah