%section.hero.intro
  .hero-body
    .container
      .columns
        .column
          %h1.title
            <strong>PerfectQuran</strong> connects Muslims to the 
            #{link_to 'Quran', quran_root_path} and the <strong>Masjid</strong>
        .column
          %h2.title
            Join Our Newletter
          = render 'shared/newsletter_signup'

%section.hero.twitter-intro
  .hero-body
    .container
      %h3.title.has-text-centered
        <span class='has-text-twitter'>#{fa_icon 'twitter'}</span> Automatically
        post Ayat of <strong class='has-text-twitter'>Quran</strong> to Twitter
      %h4.subtitle.has-text-centered
        Join Many Others Sharing Quranic Reminders

      .columns.is-multiline
        - @connections.each do |connection|
          .column.is-one-third
            %article
              .media
                .media-left
                  <figure class="image is-64x64"><img src="#{connection.image}" alt="#{connection.name}'s Twitter Profile Image'"></figure>
                .media-content
                  .content
                    %p
                      = link_to "https://twitter/com/#{connection.nickname}" do
                        <strong>#{connection.name}</strong><br>
                        @#{connection.nickname}
