%table.table.is-fullwidth
  %tbody
    %tr
      %th Name
      %th Account
      %th Last Ayah
      %th Active?
  %tfoot
    %tr
      %th Name
      %th Account
      %th Last Ayah
      %th Active?
  %tbody
    - @connections.each do |connection|
      %tr
        %td= link_to connection.name, "https://twitter.com/#{connection.name}"
        %td= connection.account_name
        %td= connection.last_ayah_reference
        %td= connection.active? ? fa_icon('check') : fa_icon('times')