.component
  %h1 Contact

  = form_with url: contacts_path, local: true do |f|

    = render 'shared/error_messages', object: @contact

    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'

    .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'

    = f.hidden_field :username

    .form-group
      = f.label :message
      = f.text_area :message, rows: 10, class: 'form-control'

    = f.submit 'Send Message', class: 'btn btn-secondary'

- content_for :aside do
  .card.text-white.bg-info.mb-3
    .card-body
      %h4.card-title Within 24 Hours
      %p.card-text It is our intention to reply to every email within 24 hours.