%section
  %h1 Flagging A Comment

  = form_with model: [@comment, @flag] do |f|
      
    = render 'shared/error_messages', object: @flag
      
    .form-group
      = f.label :content, 'Reason'
      = f.text_area :content, id: :flag_content, class: 'form-control'
      
    = f.submit 'Flag Comment', class: 'btn btn-primary'

- provide :title, 'Flagging A Comment'