= render 'shared/error_messages', object: @country

.field
  .columns
    .column.is-four-fifths
      = f.label :name, class: 'label'
      .control
        = f.text_field :name, autofocus: true, class: 'input', id: 'country_name'

    .column
      = f.label :code, 'Code', class: 'label'
      .control
        = f.text_field :code, class: 'input', id: 'country_code'

.field
  .control
    = f.submit nil, class: 'button is-primary'