.audio-controls
  %progress.progress{value: "0", max: "0"}

  .level.is-mobile
    = link_to hifz_page_ayah_path(page, page.previous_ayah), class: 'backward' do
      = fa_icon 'step-backward'

    = link_to '#', class: 'play', data: {action: 'audio-player#play', target: 'audio-player.play-button'} do
      = fa_icon 'play'

    = link_to '#', class: 'pause is-hidden', data: {action: 'audio-player#pause', target: 'audio-player.pause-button'} do
      = fa_icon 'pause'

    .loop
      = check_box_tag :loop, 0, false, data: {action: 'click->audio-player#loop', target: 'audio-player.loop'}
      %span.icon= fa_icon 'refresh'

    = link_to hifz_page_ayah_path(page, page.next_ayah), class: 'forward' do
      = fa_icon 'step-forward'