#ayah-panel.card{data: {controller:'visibility'}}
  %header.card-header
    %p.card-header-title= page.current_ayah
    = link_to '#', class: 'card-header-icon has-text-dark', data: {action: 'visibility#toggle'} do
      %span.icon= fa_icon('book')
    -# = link_to hifz_page_ayah_memories_path(audible, audible.current_ayah), method: :post, class: audible.current_ayah.memorized? ? 'card-header-icon has-text-memorized' : 'card-header-icon has-text-dark' do
      -# %span.icon= fa_icon('heart')

  .card-content
    .content
      %p.uthmani-text= page.current_ayah.uthmani_text

      %p.is-hidden{data: {target: 'visibility.toggable'}}
        %span.has-text-primary Transliteration<br>
        = sanitize page.current_ayah.transliterated_text

      %p.is-hidden{data: {target: 'visibility.toggable'}}
        %span.has-text-primary The Noble Quran<br>
        = page.current_ayah.noble_quran_text

    = render 'hifz/pages/controls', page: page