%section.section
  .container
    %header
      .columns
        .column
          %h1.title= @page
          %h2.subtitle= @page.reference

        .column
          .field.has-addons
            %p.control
              = link_to hifz_page_path(@page.previous), class: 'button' do
                %span.icon.is-small= fa_icon 'angle-left'
                %span= @page.previous

            %p.control
              = link_to 'hifz_page_path(@page.next)', class: 'button' do
                -# %span= @page.next
                %span.icon.is-small= fa_icon 'angle-right'

    %section
      .columns
        .column
          %aside= render 'hifz/pages/panel', audible: @page

        .column
          %main{data: {controller: 'page' } }
            = render 'hifz/pages/page', page: @page