= form_with model: @connection, url: accounts_connection_path(@connection), local: true, method: :patch, id: 'connection_form' do |f|
  = render 'shared/error_messages', object: @connection
  .columns
    .column
      .field
        = f.label :active, 'Status', class: 'label'
        .control
          .select.is-fullwidth
            = f.select :active, [['Active', true], ['Inactive', false]], {}, id: 'connection_active'

    .column
      .field
        = f.label :translation_id, 'Posting From', class: 'label'
        .control
          .select.is-fullwidth
            = f.select :translation_id, Quran::Translation.available_for_posting.map{|s|[s.name, s.id]}

  .field
    = f.label :hashtags, class: 'label'
    .control
      = f.text_field :hashtags, class: 'input', id: 'connection_hashtags', placeholder: '#PerfectQuran'

  .field
    .control
      = f.submit class: 'button is-orange'