= render 'shared/page_header', title: 'Edit Connection'

%section.section
  .container
    .columns
      .column
        = render 'accounts/shared/menu'
      .column.is-three-quarters

        = form_with model: @connection, url: accounts_connection_path(@connection), local: true, method: :patch, id: 'connection_form' do |f|
          = render 'shared/error_messages', object: @connection
          .columns
            .column
              .field
                = f.label :active, 'Status', class: 'label'
                .control
                  .select.is-fullwidth
                    = f.select :active, [['Active', true], ['Inactive', false]], {}, id: 'connection_active'

            .column
              .field
                = f.label :translation_id, 'Posting From', class: 'label'
                .control
                  .select.is-fullwidth
                    = f.select :translation_id, Quran::Translation.available_for_posting.map{|s|[s.name, s.id]}

          .field
            = f.label :hashtags, class: 'label'
            .control
              = f.text_field :hashtags, class: 'input', id: 'connection_hashtags', placeholder: '#PerfectQuran'

          .field
            .control
              = f.submit class: 'button is-orange'

        %article.message
          .message-header
            %p Important Message About Automatic Posting
          .message-body.content
            %p 
              Alhamdulillah, I'm super excited about finally starting to allow
              automatic posting. This was the distinguishing feature that made
              PerfectQuran so popular in the past.

            %p
              There are a few points of note:

            %ul
              %li For the moment this only works with Twitter
              %li This will post one ayah of Quran every hour to your Twitter account
              %li It only Tweets ayahs from The Noble Quran English translation
              %li It functions exactly as you can see on the #{link_to('PerfectQuran Twitter', 'https://twitter.com/perfectquran')} account

            %p
              If that works for you, just change the connection status to active
              and enjoy.

            %p
              If that's not quite what you want, drop me an email (quran.is.perfect@gmail.com)
              and let me know how I can make it more suitable for your needs.

            %p
              I only have a limited amount of time to work on this project. If I
              know your needs, I can prioritize them.

            %p
              With love, Your Brother Abdullah

- provide :title, 'Edit Connection'