= render 'shared/page_header', title: 'Connections'

%section.section
  .container
    .columns
      .column
        = render 'accounts/shared/menu'
      .column.is-three-quarters
        %section#connections
          - if @connections.any?
            %h1.title Connections            
            %table.table.is-fullwidth
              %thead
                %tr
                  %th Name
                  %th Provider
                  %th Quran
                  %th Last Ayah
                  %th Active?
                  %th
              %tfoot
                %tr
                  %th Name
                  %th Provider
                  %th Quran
                  %th Last Ayah
                  %th Active?
                  %th
              %tbody
                - @connections.each do |connection|
                  %tr{id: "connection-#{connection.id}"}
                    %td= connection.name
                    %td= connection.provider
                    %td= connection.translation.name
                    %td= connection.last_ayah_id
                    %td= connection.active
                    %td
                      = link_to edit_accounts_connection_path(connection), class: 'button' do
                        #{fa_icon('edit')} Edit
                      = link_to accounts_connection_path(connection), method: :delete, class: 'button is-danger' do
                        #{fa_icon('trash')} Delete

        = link_to '/auth/twitter', class: 'is-twitter-button' do
          #{fa_icon('twitter')} Connect Twitter Account

- provide :title, 'Connections'