- content_for :header do
  = render 'accounts/shared/menu'

- content_for :main do
  - if @connections.any?
    = render 'table'
  - else
    %p.notification.is-info You have no connected social media accounts.

- content_for :aside do
  .buttons
    = link_to '/auth/twitter', class: 'is-twitter-button is-fullwidth' do
      #{fa_icon('twitter')} Connect Twitter Account

  = render 'automatic_posts_message'

= render "layouts/templates/is_two_thirds", title: 'Connections'