.btn-toolbar
  
  .btn-group.mr-2
    = link_to manage_comments_path, class: 'btn btn-secondary' do
      = fa_icon 'th-list'
      Index

%section
  %h1 Flagged Comments

  %table.table
    %thead.thead-default
      %tr
        %th #
        %th Commenter
        %th Content
    %tbody
      - @comments.each do |comment|
        %tr
          %td= link_to comment.id, manage_comment_path(comment)
          %td= link_to comment.user.name, manage_user_path(comment.user)
          %td= markdown comment.content.truncate(100)

- provide :title, 'Flagged Comments'