<div id="ayah-<%= ayah.id %>" class='card' data-controller='card' data-target='card.card'>
  <header class="card-header" data-action='click->card#toggleVisibility'>
    <p class="card-header-title"><%= ayah %></p>
    <p class="card-header-icon">
      <span class="icon"><%= fa_icon 'angle-down' %></span>
    </p>
  </header>

  <div class="card-content is-hidden" data-target='card.toggleVisibility'>
    <div class="content">
      <p class="arabic"><%= sanitize ayah.uthmani_text %></p>
    </div>
  </div>

  <footer class="card-footer is-hidden" data-target='card.toggleVisibility'>
    <%= link_to accounts_memory_ayah_memory_path(ayah), method: :post, remote: true, class: 'card-footer-item' do %>
      <span class="icon"><%= fa_icon 'heart-o' %></span>
      <span>Memorize</span>
    <% end %>
  </footer>
</div>
