= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email, class: 'label'
    .control
      = f.email_field :email, autofocus: true, class: 'input'

  .field
    = f.label :password, class: 'label'
    .control
      = f.password_field :password, autocomplete: "off", class: 'input'

  .field
    .control
      = f.label :remember_me, class: 'checkbox' do
        = f.check_box :remember_me
        Remember me?

  .field
    = f.submit "Login", class: "button is-orange"