.justify-content-center
  = paginate @texts

#results

  - @texts.each do |text|
    .ayah
      %h1
        = link_to ayah_by_number_path(text.ayah.surah.id, text.ayah.number) do 
          = "#{text.ayah.surah.transliterated_name} #{text.ayah.number}"
  
      .ayah-text
        %p{class: ('arabic' if text.uthmani?)}
          = text.content.html_safe
          %small{class: ('d-none' if text.uthmani?)}= text.quran.name

- provide :title, "Search Results"