<%= link_to [:admin, @resource.class], class: 'navbar-item' do %>
  <span class='icon'><%= fa_icon 'th-list' %></span> <span>Index</span>
<% end %>

<%= link_to [:edit, :admin, @resource], class: 'navbar-item' do %>
  <span class='icon'><%= fa_icon 'edit' %></span> <span>Edit</span>
<% end %>

<%= link_to [:admin, @resource], method: :delete, class: 'navbar-item' do %>
  <span class='icon'><%= fa_icon 'trash' %></span> <span>Delete</span>
<% end %>