%section.section
  .container
    .columns
      .column.is-one-fifth
        = render 'admin/shared/menu'

      .column
        %header
          %h1.title Edit Category

        %section
          = form_with scope: :category, url: admin_category_path(@category), method: :patch, id: 'edit_category' do |f|
            = render 'form_fields', f: f

      .column.is-one-fifth
        %nav.menu.has-text-right
          %ul.menu-list
            %li
              = link_to admin_category_path @category do
                %span Show
                %span.icon= fa_icon 'eye'

- provide :title, 'Edit Category'