.navbar.is-dark
  .container
    .navbar-end
      .navbar-item
        .field.is-grouped
          %p.control
            = link_to admin_categories_path, class: 'button' do
              %span.icon= fa_icon 'th-list'
              %span Categories Index

          %p.control
            = link_to new_admin_category_path, class: 'button' do
              %span.icon= fa_icon 'pencil'
              %span Create New Category

          %p.control
            = link_to edit_admin_category_path(@category), class: 'button is-success' do
              %span.icon= fa_icon 'edit'
              %span Edit Category

          %p.control
            = link_to admin_category_path(@category), method: :delete, class: 'button is-danger' do
              %span.icon= fa_icon 'trash'
              %span Delete Category

%section.section
  .container
    %header
      %h1.title= @category.name

    %section.box
      .content
        %p= @category.description

- provide :title, @category.name