%section.section
  .container
    %header
      %h1.title Hifz Dashboard
      %h2.subtitle And We have indeed made the Quran easy to understand and remember, then is there any that will remember?

    %section
      .columns
        .column
          = link_to 'Juzs', hifz_juzs_path, class: 'button is-primary is-large is-block'

        .column
          = link_to 'Pages', hifz_pages_path, class: 'button is-primary is-large is-block'

        .column
          = link_to 'Surahs', hifz_surahs_path, class: 'button is-primary is-large is-block'

    %section
      %header
        %h3.title Statistics

      .columns
        .column
          %table.table
            %tr
              %td Last 30 Days
              %td= number_to_percentage(Current.account.memorized_percentage(from: 30.days.ago), strip_insignificant_zeros: true)

            %tr
              %td Total
              %td= number_to_percentage(Current.account.memorized_percentage, strip_insignificant_zeros: true)

            %tr
              %td Ayahs
              %td= Current.account.memorized_ayahs_count

            %tr
              %td Surahs
              %td= Current.account.memorized_surahs_count

            %tr
              %td Pages
              %td= Current.account.memorized_pages_count

            %tr
              %td Juzs
              %td= Current.account.memorized_juzs_count

        .column.is-three-quarters
          = area_chart Current.account.group_memories_by_day_from(1.month.ago.midnight)

- provide :title, 'Hifz Dashboard'