%nav.navbar.is-white.is-fixed-bottom.is-hidden-desktop{data: {controller: 'navbar'}}
  %audio.is-hidden{controls: true, data: {target: 'navbar.audio'}}
    %source{src: surah_audio_file(@surah.id), type: "audio/mpeg"}
      Your browser does not support the audio tag.

  .navbar-brand
    = link_to '#', class: 'navbar-item', data: { action: 'navbar#hideAudio'} do
      = fa_icon 'headphones'

    = link_to quran_root_path, class: 'navbar-item' do
      = fa_icon 'list-ol'

    = link_to quran_surah_path(@surah.previous), class: 'navbar-item' do
      = fa_icon 'chevron-left'

    = link_to quran_surah_path(@surah.next), class: 'navbar-item' do
      = fa_icon 'chevron-right'