= form_for [:manage, @post] do |f|
  
  = render 'shared/error_messages', object: @post

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :content
    = f.text_area :content, rows: 20, class: 'form-control'

  = f.submit class: 'btn btn-secondary'