%ul.nav.nav-tabs
  %li.nav-item
    = link_to 'Index', manage_posts_path, class: 'nav-link active'
  %li.nav-item
    = link_to 'New', new_manage_post_path, class: 'nav-link'

%table.table.table-bordered.table-sm
  %thead.thead-default
    %tr
      %th #
      %th Title
      %th Actions
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.id
        %td= post.title
        %td= link_to 'Edit', edit_manage_post_path(post)
          
- provide :title, 'Posts'