= form_for [:manage, @post] do |f|

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :content
    = f.text_area :content, class: 'form-control'

  = f.submit 'Create Post', class: 'btn btn-secondary'
   
- provide :title, 'New Post'