= render 'manage/shared/actions_toolbar', object: @post

%section
  %h1 
    Post
    %small= @post.title

  %table.table.table-bordered
    %tbody
      %tr
        %th Category
        %td= @post.category.name
      %tr
        %th Permalink
        %td= @post.permalink

  .content
    %h2 Content
    = markdown @post.content

- provide :title, @post.title