.btn-toolbar
  .btn-group.mr-2
    - unless params[:action].match? 'index'
      = link_to manage_users_path, class: 'btn btn-secondary' do
        = fa_icon 'th-list'
        Index

%section
  %h1 
    User
    %small= @user.name

  %table.table
    %tbody
      %tr
        %td #
        %td= @user.id
      %tr
        %td Name
        %td= @user.name
      %tr
        %td Username
        %td= @user.username
      %tr
        %td Email Address
        %td= @user.email
      %tr
        %td Confirmed At
        - if @user.confirmed?
          %td= @user.confirmed_at.to_formatted_s(:long)
        - else
          %td Unconfirmed
      %tr
        %td Number of logins
        %td= @user.sign_in_count
      %tr
        %td Current Logged in At
        - if @user.confirmed?
          %td= @user.current_sign_in_at.to_formatted_s(:long)
        - else
          %td N/A
      %tr
        %td Last Logged in At
        - if @user.confirmed?
          %td= @user.last_sign_in_at.to_formatted_s(:long)
        - else
          %td N/A
      %tr
        %td Current Logged in IP 
        %td= @user.current_sign_in_ip
      %tr
        %td Last Logged in IP 
        %td= @user.last_sign_in_ip
      %tr
        %td Created At
        %td= @user.created_at.to_formatted_s(:long)
      %tr
        %td Updated At
        %td= @user.updated_at.to_formatted_s(:long)

- provide :title, "User: #{@user.name}"