.container
  %nav.breadcrumb{aria: {label: "breadcrumbs"}}
    %ul
      %li= link_to 'Study', study_root_path
      %li.is-active= link_to @surah, study_surah_path(@surah), aria: {current: "page"}

%section.section
  .container
    .columns
      .column
        %header
          %h1.title= @surah
          %h2.subtitle= @surah.description
    
      -# .column
      -#   .buttons
      -#     %a.button
      -#       %span.icon= fa_icon 'heart'
      -#       %span Memory
    
      -#     %a.button
      -#       %span.icon= fa_icon 'bookmark'
      -#       %span Bookmark
        
      .column.is-one-fifth.is-hidden-mobile
        %nav.pagination
          = link_to 'Previous', study_surah_path(@surah.previous), class: 'pagination-previous'
          = link_to 'Next Surah', study_surah_path(@surah.next), class: 'pagination-next'

    .columns.is-variable.is-6
      .column.is-three-fifths
        %section
          %audio.is-hidden-touch{controls: true}
            %source{src: surah_audio_file(@surah.id), type: "audio/mpeg"}
              Your browser does not support the audio tag.

        %main
          - @surah.ayahs_and_included_texts.each do |ayah|
            .media
              .media-left
                %p.field
                  %strong #{ayah.number}.

              .media-content
                .content
                  - ayah.texts_and_included_translations.each do |text|
                    %p.has-text-orange-dark{class: ('is-hidden' if text.uthmani?)}= text.translation.name
                    %p{class: ('is-size-4 has-text-right' if text.uthmani?)}= sanitize text.content

      .column
        %aside
          = render 'information', surah: @surah

%nav.navbar.is-fixed-bottom.is-hidden-desktop{data: {controller: 'navbar'}}
  %audio{controls: true, data: {target: 'navbar.audio'}}
    %source{src: surah_audio_file(@surah.id), type: "audio/mpeg"}
      Your browser does not support the audio tag.

  .navbar-brand
    = link_to study_root_path, class: 'navbar-item' do
      = fa_icon 'list-ol'

    %a.navbar-item

    = link_to study_surah_path(@surah.previous), class: 'navbar-item' do
      = fa_icon 'chevron-left'

    = link_to study_surah_path(@surah.next), class: 'navbar-item' do
      = fa_icon 'chevron-right'

= render 'mobile_navbar'
- provide :title, @surah