%section.section
  .container
    .columns
      .column.is-one-fifth
        = render 'admin/shared/menu'

      .column
        %header
          %h1.title Dashboard

        %section
          .level
            .level-item.has-text-centered
              %div
                %p.heading Accounts
                %p.title= @accounts.length
            .level-item.has-text-centered
              %div
                %p.heading Comments
                %p.title= @comments.length
            .level-item.has-text-centered
              %div
                %p.heading Memories
                %p.title= @memories.length
            .level-item.has-text-centered
              %div
                %p.heading Connections
                %p.title= @connections.length

- provide :title, 'Dashboard'