<table class='table is-fullwidth'>
  <tbody>
    <tr>
      <th>#</th>
      <td><%= @resource.id %></td>
    </tr>
    <tr>
      <th>Accout</th>
      <td><%= @resource.account.email %></td>
    </tr>
    <tr>
      <th>Ayah</th>
      <td><%= @resource.ayah %></td>
    </tr>
    <tr>
      <th>Created At</th>
      <td><%= @resource.created_at %></td>
    </tr>
    <tr>
      <th>Updated At</th>
      <td><%= @resource.updated_at %></td>
    </tr>
  </tbody>
</table>