= render 'shared/page_header', title: t('admin.menus.show.title', name: @menu.name)

%section#main.section
  .container
    .columns
      .column.is-one-fifth
        = render 'admin/shared/menu'
      .column
        .field.has-addons
          %p.control
            = link_to edit_admin_menu_path(@menu), class: 'button' do
              %span.icon
                = fa_icon 'edit'
              %span
                = t 'edit'
          %p.control
            = link_to new_admin_menu_menu_link_path(@menu), class: 'button' do
              %span.icon
                = fa_icon 'plus'
              %span
                = t 'admin.menus.index.new_link'
          %p.control
            = link_to admin_menu_path(@menu), method: :delete, class: 'button is-danger' do
              %span.icon
                = fa_icon 'trash'
              %span
                = t 'delete'
        %article.content
          %h1.title= @menu.name
          %h2.subtitle= @menu.description

          %table#menu_links.table
            %thead
              %tr
                %th #
                %th Name
                %th Path
                %th
            %tfoot
              %tr
                %th #
                %th Name
                %th Path
                %th
            %tbody
              - @menu.menu_links.each do |link|
                %tr
                  %td= link.id
                  %td= link.name
                  %td= link.path
                  %td
                    .field.has-addons
                      %p.control
                        = link_to edit_admin_menu_menu_link_path(@menu, link), class: 'button' do
                          %span.icon
                            = fa_icon 'edit'
                          %span
                            = t 'edit'
                      %p.control
                        = link_to admin_menu_menu_link_path(@menu, link), method: :delete, class: 'button is-danger' do
                          %span.icon
                            = fa_icon 'trash'
                          %span
                            = t 'delete'

- provide :title, t('admin.menus.show.title', name: @menu.name)