<%= form_with model: @email_preference, method: :patch, id: 'email-preferences-form' do |f| %>
  <div class='field'>
    <div class='control'>
      <%= f.label :general, class: 'checkbox' do %>
        <div class='media'>
          <div class='media-left'>
            <%= f.check_box :general %>
          </div>
          <div class='media-content'>
            <div class='content'>
              <p>
                <strong>General</strong><br>
                We'll send you periodic updates about the PerfectQuran project.
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  <div class='field'>
    <div class='control'>
      <%= f.label :daily_ayah, class: 'checkbox' do %>
        <div class='media'>
          <div class='media-left'>
            <%= f.check_box :daily_ayah %>
          </div>
          <div class='media-content'>
            <div class='content'>
              <p>
                <strong>Daily Ayah</strong><br>
                Recieve an ayah direct to your inbox once a day.
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class='field'>
    <div class='control'>
      <%= f.submit 'Save Email Preferences', class: 'button is-primary' %>
    </div>
  </div>
<% end %>

<% provide :title, 'Edit Email Preferences' %>
<% provide :layout_template, 'two_column_sidebar_left' %>

<%= content_for :sidebar do %>
  <%= render 'account/shared/application/menu' %>
<% end %>