<table class='table is-fullwidth'>
  <tbody>
    <tr>
      <th>#</th>
      <td><%= @resource.id %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @resource.name %></td>
    </tr>
    <tr>
      <th>Code</th>
      <td><%= @resource.code %></td>
    </tr>
    <tr>
      <th>Country</th>
      <td><%= @resource.country_name %></td>
    </tr>
    <tr>
      <th>Created At</th>
      <td><%= @resource.created_at %></td>
    </tr>
    <tr>
      <th>Updated At</th>
      <td><%= @resource.updated_at %></td>
    </tr>
  </tbody>
</table>