%nav.navbar.is-light{data: {controller: 'navbar'}, role: 'navigation', aria: { label: 'main navigation'} }
  .container
    .navbar-brand
      = link_to  root_url, class: 'navbar-item' do
        = image_tag 'queue.jpg'

      .navbar-burger{data: {action: 'click->navbar#toggle_menu', target: 'navbar.burger'}}
        %span
        %span
        %span

    .navbar-menu{data: {target: 'navbar.menu'}}
      .navbar-end
        %nav.menu.mobile
          %p.menu-label Main
          %ul.menu-list
            %li= link_to 'Study', study_root_path

          - if account_signed_in?
            %p.menu-label Connections
            %ul.menu-list
              %li= link_to 'List', account_connections_path
              %li= link_to 'Connect Twitter Account', '/auth/twitter'
        
            %p.menu-label Settings
            %ul.menu-list
              %li= link_to 'Edit Profile', edit_account_profile_path
              %li= link_to 'Email Preferences', edit_account_email_preference_path
              %li= link_to 'Quran Preferences', edit_account_quran_preference_path
          
            %p.menu-label Account
            %ul.menu-list
              %li= link_to "Logout", destroy_account_session_path, method: :delete

          - else
            %p.menu-label Account
            %ul.menu-list
              %li= link_to 'Login', new_account_session_path
              %li= link_to 'Register', new_account_registration_path
              %li= link_to 'Password Reset', new_account_password_path
              %li= link_to 'Confirmation Instructions', new_account_confirmation_path

        - if account_signed_in?
          = link_to 'Admin', admin_root_path, class: 'navbar-item' if current_account.role? :admin

          .navbar-item.has-dropdown.is-hoverable
            %a.navbar-link Account

            .navbar-dropdown.is-right
              = link_to 'Connections', account_connections_path, class: 'navbar-item'
              .navbar-divider
              = link_to 'Edit Profile', edit_account_profile_path, class: 'navbar-item'
              = link_to 'Email Preferences', edit_account_email_preference_path, class: 'navbar-item'
              = link_to 'Quran Preferences', edit_account_quran_preference_path, class: 'navbar-item'
              .navbar-divider
              = link_to "Logout", destroy_account_session_path, method: :delete, class: 'navbar-item'
              

                
        - else
          = link_to 'Login', new_account_session_path, class: 'navbar-item'
          = link_to 'Register', new_account_registration_path, class: 'navbar-item'