!!!5
%html{ html_attrs('en') }
  = render 'layouts/shared/head'
  %body{id: params[:controller].try(:gsub, '/', '-'), class: params[:action] }
    = render '/layouts/shared/analytics'
    = render 'layouts/shared/navbar'
    = render 'layouts/shared/flash'
    = yield
    = render 'layouts/shared/newsletter' unless params[:controller].start_with? 'admin'
    = render 'layouts/shared/footer'