<!DOCTYPE html>
<html>
  <head>
    <title>Perfectquran</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= params["controller"] %>" class="<%= params['controller'] == 'surahs' && params['action'] == 'index' ? 'full-page' : 'two-column' %>">
    
    <%= render '/layouts/shared/analytics' %>

    <header>
      <div>
        <%= link_to "The Perfect Quran", root_path %>
      </div>
      <nav>
        <ul>
          <li><%= link_to "API", "https://imabusabah.github.io/perfectquran-documentation/#introduction" %></li>
        </ul>
      </nav>
    </header>

    <main>
    <% if content_for?(:aside) %>
      <aside>
        <%= yield(:aside) %>
      </aside>
    <% end %>

      <div id="content">
        <%= yield %>
      </div>
    </main>

  </body>
</html>
