<!DOCTYPE html>
<html>
  <head>
    <title>Perfectquran</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= params["controller"] %>">

    <%= render '/layouts/shared/analytics' %>

    <%= render '/layouts/application/navigation' %>

    <main>
    
      <% flash.each do |type, message| %>
        <div class="flash-<%= type %>" role="alert">
          <%= message %>
        </div>
      <% end %>
      
    <% if content_for?(:aside) %>
      <aside>
        <%= yield(:aside) %>
      </aside>
    <% end %>

      <div id="content">
        <%= yield %>
      </div>
    </main>

  </body>
</html>
