!!!5
%html{ html_attrs('en') }
  = render 'layouts/head'
  %body{id: params[:controller].try(:gsub, '/', '-'), class: "#{params[:action]}"}

    = render 'layouts/flash'
    = render 'layouts/default/navbar'

    = yield 

    = render 'layouts/footer'