!!!5
%html{ html_attrs('en') }
  = render 'layouts/shared/head'
  
  %body{id: params[:controller].gsub('/', '-') }
    = render '/layouts/shared/analytics'
    = render 'layouts/shared/navbar'

    .container
      = render 'layouts/shared/flash'
      
      .row
        .col-lg-4        
          = render 'layouts/shared/aside'
        
          %footer
            = render 'layouts/shared/footer'

        #content.col-lg-8.mr-lg-auto
          = yield