!!!5
%html{ html_attrs('en') }
  = render 'layouts/head'
  %body{id: params[:controller].try(:gsub, '/', '-'), class: "#{params[:action]}"}

    = render 'layouts/flash'
    = render 'layouts/navbar'

    = yield 

    = render 'layouts/patron_banner' unless Current.account.patron?
    = render 'layouts/newsletter' unless account_signed_in?
    = render 'layouts/footer'
    = render('layouts/cookie_notification') unless account_signed_in?