!!!5
%html{ html_attrs('en') }
  = render 'layouts/shared/head'
  %body{id: params[:controller].try(:gsub, '/', '-'), class: "#{params[:action]} #{browser.mobile? ? 'mobile' : 'desktop'}", data: { controller: 'tabs'} }

    = render 'layouts/partials/navbar'

    = yield :after_navbar if content_for? :after_navbar

    = render('layouts/partials/page_header') if content_for :title
    = yield(:after_header) if content_for? :after_header
    = yield(:header) if content_for? :header

    %section.section.is-white
      .container
        - if browser.mobile? || !content_for?(:layout_template)
          = yield
        - else
          .columns
            = render "layouts/templates/#{yield(:layout_template)}"

    = yield(:toolbar) if content_for :toolbar
    = yield(:bottom) if content_for? :bottom
    = render('layouts/shared/cookie_notification') unless account_signed_in?
    = render 'layouts/partials/footer'