!!!5
%html{ html_attrs('en') }
  = render 'layouts/shared/head'
  %body{id: params[:controller].try(:gsub, '/', '-'), class: params[:action] }
    = render 'layouts/shared/navbar'
    = render 'layouts/shared/flash'
    = yield
    = render 'layouts/shared/newsletter' unless account_signed_in?
    = render 'layouts/shared/footer'

    - unless account_signed_in?
      = render 'layouts/shared/cookie_notification'