<!DOCTYPE html>
<html>
  <head>
    <title>Perfectquran</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "The Perfect Quran", root_path %>
      <nav>
        <%= link_to "Example", "#" %>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
