!!!5
%html{ html_attrs('en') }
  = render 'layouts/shared/head'

  %body{id: params[:controller].gsub('/', '-'), class: params[:action] }
    = render '/layouts/shared/analytics'
    = render 'layouts/shared/navbar'

    .container
      = render 'layouts/shared/flash'      
      = yield

    %footer
      .container
        = render 'layouts/shared/footer'