!!!5
%html{ html_attrs('en') }
  = render 'layouts/minimal/head'
  %body{id: params[:controller].try(:gsub, '/', '-'), class: "#{params[:action]} #{browser.mobile? ? 'mobile' : 'desktop'}", data: { controller: 'tabs'} }

    = yield

    = render '/layouts/shared/analytics'